body{
    background-color: rgb(193, 230, 252)
}
.comic_sans {
    font-family:  "Comic Sans MS";
    color: red;
}
h1{
    text-align: right;
}
em{
    color:green;
    background-color: white;
}
strong{
    color: rgb(199, 114, 4);
}
.orange_color{
    color:orange
}
